.header {
    grid-area: head;
    background-color: #F9F5F3;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.header__logo {
    margin-left: 4rem;
    height: 4.5rem;
    display: block; 
}


.search {
    background-color: #fff;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    padding-left: 3rem;
    transition: all .3s; 
}
.search:focus-within {
    transform: translateY(-2px);
    box-shadow: 0 0.7rem 3rem rgba(101, 90, 86, 0.08); 
}

.search__field {
    border: none;
    background: none;
    font-family: inherit;
    color: inherit;
    font-size: 1.7rem;
    width: 30rem; 
}

.search__field:focus {
    outline: none; 
}

.search__field::placeholder {
    color: #DAD0CC; 
}