.header {
    grid-area: head;
    background-color: #F9F5F3;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.header__logo {
    margin-left: 4rem;
    height: 4.5rem;
    display: block; 
}


